*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-rendering: geometricPrecision;
  font-smooth: never;
  -webkit-font-smoothing: never;
  image-rendering: "pixelated";
  /* overflow: hidden; */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: url('/cursor.cur'), auto;
  text-rendering: geometricPrecision;
  font-smooth: never;
  -webkit-font-smoothing: never;
  image-rendering: "pixelated";
  overflow: hidden;
}

html {
  background-color: #100d36;
}

body, button {
  font-family: var(--font-jersey-10), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes move-spaceship {
  0% {
    transform: translateX(-100vw) rotate(40deg);
  }
  100% {
    transform: translateX(100vw) rotate(40deg);
  }
}

@keyframes shake {
  0% { transform: translate(0px, 0px); }
  20% { transform: translate(-5px, 5px); }
  40% { transform: translate(-5px, -5px); }
  60% { transform: translate(5px, 5px); }
  80% { transform: translate(5px, -5px); }
  100% { transform: translate(0px, 0px); }
}

.shake {
  animation: shake 0.5s infinite;
}

.cat-spaceship {
  position: fixed;
  bottom: 20%;
  left: 0;
  width: 150px;
  height: 150px;
  animation: move-spaceship 8s linear infinite;
  will-change: transform;
  z-index: 100;
}

@keyframes fire {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fire {
  animation: fire 2s ease-in-out infinite;
}