*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-primary: hsl(243, 34%, 87%);
  --purple-bg: hsl(244, 48%, 30%);
  --purple-bg-hover: hsl(244, 48%, 35%);
}

/* Home */

.home-container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  filter: drop-shadow(4px 8px 15px hsla(0, 0%, 2%, 0.300));
}

.home-container img {
  width: 320px;
}

.home-container h1 {
  color: var(--white-primary);
  font-size: 6.4rem;
}

.home-container div {
  position: relative;
  bottom: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.home-container button {
  max-width: 250px;
  text-transform: uppercase;
  font-size: 4.2rem;
  padding: 1.0rem 3.0rem;
  margin: 1rem;
  background-color: var(--purple-bg);
  color: var(--white-primary);
  border-radius: 0.8rem;
  border: 2px solid var(--white-primary);
  transition: all .4s ease;
}

.home-container button:hover {
  transform: translateY(-5px);
  background-color: var(--purple-bg-hover);
  cursor: pointer;
}

@media (max-width: 380px)  {
  .home-container h1  {
      font-size: 5.4rem;
  }
  
}

